In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Clustering

### 1.1. Data preprocessing

In [32]:
df = pd.read_excel("data/df.xlsx")
df.columns

Index(['Unnamed: 0', 'id', 'plec', 'wiek', 'wyksztalcenie', 'branza',
       'stanowisko', 'miejsce_zamieszkania', 'polska_zagranica', 'korzystanie',
       ...
       'tematy_za_malo_trudno powiedzieć',
       'tematy_za_malo_trudno powiedzieć - za mało znam',
       'tematy_za_malo_Świat, prawa człowieka',
       'tematy_za_malo_Życie Kościoła poza Polską (decyzje jakie tam zapadają, zwyczaje itp.)',
       'sociale_Facebook', 'sociale_Instagram',
       'sociale_Na żadnym z wymienionych', 'sociale_Spotify',
       'sociale_Twitter', 'sociale_YouTube'],
      dtype='object', length=732)

In [33]:
model_df = pd.DataFrame()

In [34]:
dummies_no_sep = ["plec", "wiek", "wyksztalcenie", "branza", "stanowisko", "miejsce_zamieszkania", "polska_zagranica", "jak_dawno", "jak_czesto", "kategorie_najchetniej", "podcasty", "youtube"]

In [35]:
for variable in dummies_no_sep:
    dummies = pd.get_dummies(df[variable], prefix=variable)
    model_df = pd.concat([model_df, dummies], axis=1)

In [36]:
model_df = model_df.drop(["podcasty_Nie", "youtube_Nie"], axis=1)

In [37]:
prenumerata_tak_nie = []
for row in df["prenumerata"]:
    if "Tak" in row:
        prenumerata_tak_nie.append(1)
    else:
        prenumerata_tak_nie.append(0)

In [38]:
model_df = model_df.assign(prenumerata_tak_nie=prenumerata_tak_nie)

In [40]:
model_df.head(10)

,plec_Kobieta,plec_Mężczyzna,wiek_26-35,wiek_36-50,wiek_51-65,wiek_Do 25,wiek_Ponad 65,wyksztalcenie_Podstawowe,wyksztalcenie_Wyższe,wyksztalcenie_Średnie,...,kategorie_najchetniej_Blogi,kategorie_najchetniej_Historia,kategorie_najchetniej_Kultura,kategorie_najchetniej_Społeczeństwo,kategorie_najchetniej_Wiadomości,kategorie_najchetniej_Wiara,kategorie_najchetniej_Wydarzenia,podcasty_Tak,youtube_Tak,prenumerata_tak_nie
0,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,0,1,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,1,0
3,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
5,0,1,1,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,1
6,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,1,1,0
7,0,1,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,1,0
8,0,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
9,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1

In [41]:
model_df = model_df[model_df["prenumerata_tak_nie"]==1]

In [42]:
z = model_df.mean()

In [43]:
z.to_excel("prenumerata_means.xlsx")

In [31]:
model_df["polecenie"] = df["polecenie"]

In [ ]:
model_df[["plec_Kobieta", "plec_Mezczyzna", "wiek_26-35",  ]

In [ ]:

model_full = model_df.dropna()
columns_to_drop = ['plec_Mężczyzna', 'miejsce_zamieszkania_Miasto od 50 tys. do 150 tys.', 'miejsce_zamieszkania_Miasto do 50 tys.', 'youtube_Nie', 'polska_zagranica_Za granicą', 'podcasty_Nie']
model_full = model_full.drop(columns_to_drop, axis=1)